<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
    <div style="background-color: #8BC091; padding: 10px; border: 2px solid white; display: flex; align-items: center;">
      <!-- DISPLAY LOGIN AND REGISTER LINKS IF NOT LOGGED IN -->
      <% if (!users[user]) { %>
        <div class="ml-auto">
          <a href="/login" class="font-weight-bold" style="color: white; text-decoration: none;">Login</a>
          <span class="font-weight-bold text-white"> / </span>
          <a href="/register" class="font-weight-bold" style="color: white; text-decoration: none;">Register</a>
        </div>
      <!-- DISPLAY EMAIL AND LOGOUT BUTTON IF LOGGED IN -->
      <% } else { %>
        <div class="ml-auto d-flex align-items-center">
          <span class="font-weight-bold text-white mr-2">Logged in as <%= users[user]["email"] %></span>
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-light">Logout</button>
          </form>
        </div>
      <% } %>
    </div>
  </nav>
</header>